<div class="full-fill flex flex-column">
    <div class="header">
        <h3 class="title">
            <i class="iconfont icon-file"></i>
            报表中心
        </h3>
        <ul class="nav">
            <li *ngFor="let nav of navList">
                <a [routerLink]="nav.routerLink" [class.active]="nav.active">{{nav.title}}</a>
            </li>
        </ul>
        <!---->
        <div class="user-menu" #menupanel (click)="$event.stopPropagation();menupanelEl.open = !menupanelEl.open">
            <i class="iconfont icon-user"></i>
            {{user ? user.realname : '' || user ? user.username : '未登录'}}
            <div class="menupanel" [hidden]="!menupanelEl.open">
                <span (click)="_logout()"><i class="triangle"></i>退出登录</span>
            </div>
        </div>
        <div class="extend-nav" extendnav [option]="extendNavCfg">
            <i class="iconfont icon-menu"></i>
            更多
        </div>
    </div>
    <div class="flex-1 content">
        <router-outlet></router-outlet>
    </div>
</div>