<div class="popup" *ngIf="_visible">
    <div class="popup-dialog">
        <div class="popup-header" [title]="_title">
            <a class="close iconfont icon-close" (click)="close()"></a>
            {{_title}}
        </div>
        <div class="popup-content flex flex-column">
            <div class="add-type">
                添加分类：
                <input type="text" class="ip-input" placeholder="请输入2~40个字符" [(ngModel)]="newType">
                <button class="ip-btn ip-btn-outline-default" (click)="addType()">
                    <i class="iconfont icon-add icon-blue"></i>
                    <span>添加</span>
                </button>
            </div>
            <!--提示-->
            <div *ngIf="warning" class="warning-bar">
                <i class="iconfont icon-close icon-gray close" (click)="closeTips()"></i>
                <span>
                    <i class="iconfont icon-info-fill icon-yellow"></i>
                    该分类已被使用，请删除分类下所有报表后重新操作！
                </span>
            </div>
            <div class="flex-1 type-list">
                <!--管理分类-->
                <ul class="list" *ngIf="_handle == 'manage'" [dragula]='"type-list"' [dragulaModel]='types'>
                    <li *ngFor="let item of types;let i = index;" [class.odd]="i%2 == 1">
                        <span *ngIf="!item.editing">{{item.name}}</span>
                        <span [hidden]="!item.editing">
                            <input #editIpt type="text" class="ip-input" [(ngModel)]="item.name" (blur)="updateType(item);" (keyup.enter)="editIpt.blur()">
                        </span>
                        <a class="iconfont icon-edit icon-blue" (click)="edit(item, editIpt, $event)"></a>
                        <a class="iconfont icon-trash icon-blue" (click)="deleteType();"></a>
                    </li>
                </ul>
                <!--移动到-->
                <ul class="list" *ngIf="_handle == 'move'">
                    <li *ngFor="let item of types;let i = index;" [class.odd]="i%2 == 1" [class.checked]="targetType == item" (click)="targetType = item;">
                        <span *ngIf="!item.editing">{{item.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="popup-footer" *ngIf="_handle == 'move'">
            <button class="ip-btn ip-btn-primary" (click)="onSubmit()" disabled>
                <span>确定</span>
            </button>
            <button class="ip-btn ip-btn-outline-default" (click)="close()">
                <span>取消</span>
            </button>
        </div>
    </div>
</div>