<router-outlet></router-outlet>
<template #prompt></template>

<ip-radio [labelText]="'测试1'" [isChecked]="true" [isDisabled]="true" [options]="radioOpt" (onCheck)="radioChange($event)"></ip-radio>
<ip-radio [labelText]="'测试2'" [isChecked]="false" [options]="radioOpt" (onCheck)="radioChange($event)"></ip-radio>

<ip-checkbox [labelText]="'测试1'" [isChecked]="true" [isDisabled]="true" [options]="radioOpt" (onCheck)="radioChange($event)"></ip-checkbox>
<ip-checkbox [labelText]="'测试2'" [isChecked]="false" [options]="radioOpt" (onCheck)="radioChange($event)">
    <ng-template let-extendInfo>
        123
    </ng-template>
</ip-checkbox>

<!-- <popup>
    <ng-template #tpl let-popupInfo>
        <div>123</div>
    </ng-template> 
</popup> -->

<ip-select [options]="typeCfg" [initItem]="'请选择'" [selectListData]="types" ></ip-select>