<div class="select-list" #selectListElement style="position: absolute;z-index:1001;" [style.top]="!reverseDirection ? position.top : ''"
    [style.bottom]="reverseDirection ? position.height : ''" [style.left]="position.left" [style.width]="position.width">
    <ul>
        <li (click)="_selectData($event, item)" #selectContent *ngFor="let item of selectListData" class="ant-select-dropdown-menu-item"
            [class.selected]="containsIn(item)">
            <i class="anticon anticon-check ai-blue" *ngIf="containsIn(item)"></i>
            {{item[_that.options.id] || item}}
        </li>
    </ul>
</div>